


<div id="banner">
	<div class="outline"></div>
	
	<img class="" src="../_common/images/<%= width %>x<%= height %>/bg.jpg" />
	<!-- <img class="retina" src="../_common/images/<%= width %>x<%= height %>/v2/f1.png" /> -->
	
	<div class="frame frame1">
		<img class="char char_w" src="../_common/images/<%= width %>x<%= height %>/v2/char_w.png" />
		<img class="char char_m" src="../_common/images/<%= width %>x<%= height %>/v2/char_m.png" />
		<img class="retina t1" src="../_common/images/<%= width %>x<%= height %>/v2/<%= lang %>/t1_isback.png" />
	</div>

	<div class="frame frame2">

		
		<img class="swirl" src="../_common/images/<%= width %>x<%= height %>/v2/swirl.png" />
		<img class="char char_desk" src="../_common/images/<%= width %>x<%= height %>/v2/char_desk.png" />

		<img class="retina t2_a" src="../_common/images/<%= width %>x<%= height %>/v2/<%= lang %>/t2_a.png" />
		<img class="retina t2_b" src="../_common/images/<%= width %>x<%= height %>/v2/<%= lang %>/t2_b.png" />
		<img class="retina t2_c" src="../_common/images/<%= width %>x<%= height %>/v2/<%= lang %>/t2_c.png" />
		<img class="retina t2_d" src="../_common/images/<%= width %>x<%= height %>/v2/<%= lang %>/t2_d.png" />


	</div>

	<img class="retina logo" src="../_common/images/<%= width %>x<%= height %>/v2/logo.png" />

	
	
	
	
</div>