


<div id="banner">
	<div class="outline"></div>
	
	<img class="" src="../_common/images/<%= width %>x<%= height %>/bg.jpg" />
	
	
	<div class="frame frame1">		
		<img class="retina t1" src="../_common/images/<%= width %>x<%= height %>/v1/<%= lang %>/t1_isback.png" />
		<img class="retina char char_m" src="../_common/images/<%= width %>x<%= height %>/v1/<%= lang %>/char_m.png" />
		<img class="retina char char_w" src="../_common/images/<%= width %>x<%= height %>/v1/<%= lang %>/char_w.png" />
	</div>

	<div class="frame frame2">		
		<img class="retina t2_a" src="../_common/images/<%= width %>x<%= height %>/v1/<%= lang %>/t2_a.png" />
		<img class="retina t2_b" src="../_common/images/<%= width %>x<%= height %>/v1/<%= lang %>/t2_b.png" />
		<img class="retina t2_c" src="../_common/images/<%= width %>x<%= height %>/v1/<%= lang %>/t2_c.png" />
		<img class="retina logo" src="../_common/images/<%= width %>x<%= height %>/v1/logo.png" />
	</div>

	
	
</div>