


<div id="banner">
	<div class="outline"></div>
	
	<img class="" src="../_common/images/<%= width %>x<%= height %>/bg.jpg" />
	
	
	<div class="frame frame1">
		
		<img class="retina t1" src="../_common/images/<%= width %>x<%= height %>/v1/<%= lang %>/t1_isback.png" />
	</div>

	<div class="frame frame2">
		<img class="char char_gamer_m" src="../_common/images/<%= width %>x<%= height %>/v1/char_gamer_m.png" />
		<img class="char char_gamer_w" src="../_common/images/<%= width %>x<%= height %>/v1/char_gamer_w.png" />

		
		<img class="char char_w" src="../_common/images/<%= width %>x<%= height %>/v1/char_w.png" />
		<img class="char char_m" src="../_common/images/<%= width %>x<%= height %>/v1/char_m.png" />
		

		
		<img class="retina swirl" src="../_common/images/<%= width %>x<%= height %>/v1/swirl.png" />

		<img class="char char_desk" src="../_common/images/<%= width %>x<%= height %>/v1/char_desk.png" />



		<img class="retina t2_a" src="../_common/images/<%= width %>x<%= height %>/v1/<%= lang %>/t2_a.png" />
		<img class="retina t2_b" src="../_common/images/<%= width %>x<%= height %>/v1/<%= lang %>/t2_b.png" />
		<img class="retina t2_c" src="../_common/images/<%= width %>x<%= height %>/v1/<%= lang %>/t2_c.png" />


	</div>

	<img class="retina logo" src="../_common/images/<%= width %>x<%= height %>/v1/logo.png" />

	
	
	
	
</div>